{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block main %}
<section class="all-product">
    <div class="search-bar">
        <input id='searchBar' type="text" placeholder="Que cherchez vous ?">
    </div>
    <div class="product-container" id="productsList">
        {#{% for element in allProduct %}
            <a href="{{ path('app_detail', {id:element.id})}}">
                <article class="product">
                    <h2>{{ element.name }}</h2>
                    <img src="{{asset('uploads')}}/{{ element.image }}" alt="image d'un article">
                    <p>{{ element.description }}</p>
                    <p>{{ element.price/100 }}€</p>
                </article>
            </a>
        {% endfor %}#}
    </div>

</section>


{% endblock %}
